breinbaas | revisie 3 | 04-12-2020 

# Opdrachten - Python variabelen

In dit notebook gaan we aan de slag met de Python variabelen. Probeer de vragen zoveel mogelijk zelf te beantwoorden maar kom je er echt niet uit vraag dan een mede cursist of de leraar of bekijk het antwoord op dit notebook.

### 1 integers

#### 1.1 integers initialiseren en rekenen

Initialiseer een variabele met naam i en waarde 1251

In [3]:
i = 1251

Initialiseer een variabele met naam j en waarde 9034

In [1]:
j=9034

Bereken met Python de som en het verschil van de twee getallen

In [4]:
i+j

10285

In [5]:
i-j

-7783

Maak een variabele k met waarde 5 en bereken het kwadraat.

In [6]:
k=5
k**2

25

Bereken de som van i en j minus het kwadraat van k

In [7]:
i + j - k**2

10260

Verzin je eigen berekeningen en ga na of Python zich houdt aan de rekenregels (bv vermenigvuldigen gaat voor optellen).

In [8]:
1 - 4 * 2 + 3

-4

### 2. float

#### 2.1 float initialiseren en rekenen

Initialiseer een variabele f1 met waarde 3.14

In [9]:
f1 = 3.14

Initialiseer een variabele i als integer met waarde 2 en run de regel erna om te kijken wat het type is.

In [10]:
i = 2

In [11]:
print(type(i)) # CODE NIET VERWIJDEREN

<class 'int'>

We zien dat i van het type 'int' (integer) is wat klopt omdat we een geheel getal hebben ingevoerd.

Tel nu f1 op bij i en print de waarde van i met de print() functie

In [13]:
i = i+f1 # of i+=f1

Gebruik de eerder gebruikte print() en type() functie om opnieuw het type van i te bepalen

In [14]:
print(type(j))

<class 'float'>

Wat valt je op?

De variabele i was een integer en is door de berekening omgezet in een float.

Dit is een eigenschap die maar weinig programmeertalen hebben. In een taal als C++ of C# is een type voor de rest van zijn bestaan van hetzelfde type en moet je expliciet een variabele naar een ander type 'casten' om ze om te zetten. Deze functionaliteit maakt Python een zeer geschikte taal voor het snel coderen van krachtige scripts en bibliotheken. 

**verdieping** Je kunt uiteraard ook van float naar integer maar moet je daarbij wel bewust zijn van een eigenaardigheid.

De volgende code maakt van i/2, dat nu de waarde 2.57 heeft, weer een integer.

In [15]:
i = int(i/2) # CODE NIET VERWIJDEREN
print(i)   # CODE NIET VERWIJDEREN

2

Wat valt je op?

Je verwacht 3 als antwoord maar krijgt 2. Python rond blijkbaar naar beneden af.

Probeer hetzelfde eens met een negatief getal en kijk wat er gebeurt.

In [22]:
i = int(-2.9)
print(i)

-2

Python zou Python niet zijn als er niet een functie was om toch te doen wat wij van afronden verwachten. De functie heet round en kun je hier in werking zien;

In [23]:
round(2.47) # CODE NIET VERWIJDEREN

2

Probeer deze functie zelf uit met een aantal getallen om te kijken of je het eens bent met de werking.

In [27]:
print(round(1.5))
print(round(-1.5))
print(round(-1.9))
print(round(-1.1))

2
-2
-2
-1

### 3. string

#### 3.1 string intialiseren en benaderen

Initialiseer twee string variabelen met namen s1 en s2 en als waarde je voornaam en achternaam.

In [28]:
s1 = "Rob"
s2 = "van Putten"

Combineer de strings door ze 'op te tellen' en op te slaan in de variabele s3. Print deze waarde.

In [29]:
s3 = s1 + s2
print(s3)

Robvan Putten

Hoe zou je ontbreken van de spatie op kunnen vangen zonder s1 of s2 aan te passen?

In [30]:
s3 = s1 + " " + s2
# of mooier s3 = f"{s1} {s2}"
print(s3)

Rob van Putten

In feite is een string niks anders dan een lijst met karakters. Het eerste karakter kun je benaderen op index 0. Hier kun je zien dat we de eerste letter van de voornaam vinden door het eerste element in de string s1 op te vragen;

In [31]:
s1[0]

'R'

Kun je met deze informatie de tweede letter van je achternaam printen?

In [32]:
s2[1]

'a'

#### 3.2 string functies

Een string kent heel veel functies die kant en klaar meegeleverd worden. Kijk maar eens naar deze webpagina (zoek naar Built-in String Methods);

https://www.tutorialspoint.com/python/python_strings.htm

Kun je met deze functies twee dingen doen;

* print je voornaam in enkel hoofdletters
* bepalen of je naam uit numerieke karakters bestaat (je antwoord hier kan True of False zijn)

In [34]:
print(s1.upper())
print(s1.isnumeric())

ROB
False

De laatste functie die interessant kan zijn is het bepalen van de lengte van de string. De functie staat hier uitgelegd;

https://www.tutorialspoint.com/python/list_len.htm

Kun je met de wetenschap dat een string in feite een lijst met karakters is en de tutorial informatie de lengte van je achternaam bepalen? Let daarbij op dat spaties ook als karakters geteld worden!

In [35]:
print(len(s2))

10

#### 3.3 haakjes

Er is geen verschil tussen

s = "abc"

of 

s = 'abc'

Je kunt beide haken gebruiken maar zorg er wel voor de je met de juiste haak eindigt! Het volgende is dus niet ok;

s = "abc'

Het grote voordeel hiervan is dat je eenvoudig haken in een string kunt toevoegen, bijvoorbeeld:

s = "De fotograaf maakte mooie foto's" 

of

s = 'Dit is "mijn" foto'

Let wel, in andere programmeertalen is het volgende gebruikelijk

* 's' wordt gebruikt voor een **enkel** karakter
* "abc" wordt gebruikt voor woorden of zinnen

In Python is het niet perse noodzakelijk om je hieraan te houden.

### 4. booleans

#### 4.1 booleans initialiseren

Bools kunnen enkel 0 of 1 zijn maar worden in Python als True en False opgeslagen. Let daarbij op de hoofdletter, die is verplicht. false of true zijn dus niet toegestaan. Booleans worden interessant bij if statements die we nog niet behandeld hebben dus we houden het kort nu.

Initialiseer een variabele genaamd b met de waarde True

In [37]:
b = True

Print de waarde van b

In [38]:
print(b)

True

**verdieping** Python is behoorlijk leesbaar als taal, kijk of je de volgende code (met veel onbekende dingen!) zou kunnen begrijpen... Run de code om te kijken of je aanname klopt.

In [39]:
i = 2 # CODE NIET VERWIJDEREN
kwadraat = True

if kwadraat:
    print(i**2) #of print(i*i)
else:
    print(i)

4

### 5. list

#### 5.1 list initialiseren en benaderen

Initialiseer een lijst met de naam l en de waarden 3.14, "abc", 5. Let hierbij op dat het in Python dus mogelijk is om een lijst te maken met verschillende types, hier een [float, string en int]

In [40]:
l = [3.14, "abc", 5]

Gebruik de indexen om de som te berekenen van het eerste en laatste element in de lijst

In [41]:
print(l[0] + l[-1])

8.14

Voer de volgende code uit en kijk of je de foutmelding snapt.

In [42]:
l[0]+l[1]

TypeError: unsupported operand type(s) for +: 'float' and 'str'

maak een lijst l1 met de elementen 2, 4 en 5 en een lijst l2 met elementen 3 en 7

In [43]:
l1 = [2,4,5]
l2 = [3,7]

Voeg de lijsten samen in een variabele genaamd l3

In [44]:
l3 = l1 + l2

Print alle elementen van l3 vanaf het tweede element

In [47]:
l3[1:]

[4, 5, 3, 7]

Print de laatste twee elementen

In [48]:
l3[-2:]

[3, 7]

Kijk of https://www.pythoncentral.io/how-to-sort-a-list-tuple-or-object-with-sorted-in-python/ en probeer de voorgaande lijst gesorteerd te printen.

In [49]:
print(sorted(l3))

[2, 3, 4, 5, 7]

### 6. dictionaries

#### 6.1 initialiseer dictionaries en benader elementen

Initialiseer een dictionary genaamd beesten met de keys 'huisdier' en 'naam' en waarden 'kat' en 'garfield'

In [50]:
beesten = {'huisdier':'kat', 'naam':'garfield'}

Met de functies keys() en values() kun je de waarden achterhalen van zowel de keys als de values. Probeer de keys functie uit op deze dictionary maar voorspel eerst zelf wat de uitvoer zal zijn.

In [51]:
beesten.keys()

dict_keys(['huisdier', 'naam'])

In [52]:
beesten.values()

dict_values(['kat', 'garfield'])

Verander de waarde van huisdier in 'luie kat'

In [53]:
beesten['huisdier'] = 'luie kat'

Print de dictionary en kijk of de uitkomst klopt.

In [54]:
beesten

{'huisdier': 'luie kat', 'naam': 'garfield'}

### 7. tuple

#### 7.1 initialiseer tuples en benader elementen

In feite is een tuple hetzelfde als een list maar met 1 belangrijk verschil. Je kunt de waarden na initialisatie niet meer aanpassen. 

Initialiseer een lijst L met elementen 1, 2 en 3

In [55]:
L = [1,2,3]

Initialiseer een tuple T met elementen 4, 5 en 6

In [59]:
T = (4,5,6)

Verander de eerste waarde van L in de waarde 0

In [60]:
L[0] = 0

Verander de eerste waarde van T in 0 en zie wat er gebeurt.

In [61]:
T[0] = 0

TypeError: 'tuple' object does not support item assignment

Kun je de foutmelding verklaren?

Tuples zijn inmutable oftewel de waardes kunnen niet meer gewijzigd worden. Bij een lijst kan dit wel.

### 8. set

#### 8.1 initialiseer sets en benader elementen

Een set is weer vergelijkbaar met een list maar in het geval van een set zijn alle waarden uniek. Je kunt dus geen element in een set hebben die verder in de lijst ook voorkomt.

Definieer een set met de waarden 1, 2, 3, 4 en nog een keer 4

In [62]:
S = {1,2,3,4,4}

Print de waarden van S

In [63]:
S

{1, 2, 3, 4}

**verdieping** Het verschil tussen lists, tuples en sets is belangrijk om te weten. Je kunt de eigenschappen van deze type ook mooi gebruiken voor slimme dingen zoals de volgende code;

Kijk naar de volgende code en probeer te voorspellen wat er gaat gebeuren. Run daarna de code en kijk of het antwoord klopt met je verwachting.

In [64]:
print(set(list((1,4,3,4,5,1)))) # CODE NIET VERWIJDEREN

{1, 3, 4, 5}

We hebben eerst een tuple vanwege de () met de waarden 1,4,3,4,5,1. Door er een list van te maken mogen we de waardes aanpassen (en hebben we in feite van (1,2,3,4,5,1) de list [1,2,3,4,5,1] gemaakt. Daarna maken we een set van de list waardoor enkel de unieke waardes meegenomen worden. We houden dan een set {1,3,4,5} over.

### 9. objecten - verdieping

Alles in Python is een object. Dit is een wezenlijk verschil met veel andere programmeertalen. Als je dieper op Python ingaat is het essentieel om te weten dat alle datatypes meteen objecten zijn. We illustreren dit met de dir() functie. Schrik niet van de output maar neem uit deze oefening mee dat alle uitvoer die je straks ziet verschijnen functies zijn die bij het type int(eger) horen. 

Voer de volgende code uit;

In [65]:
i = 1 #we definieren een integer met waarde 1
dir(i) #en we printen alle ingebouwde functionaliteit

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']